[Unit]
Description=LED Matrix to display news.
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/develop/PiBot_v3/bot/remote/python\ server/server.py
Restart=on-abort

[Install]
WantedBy=multi-user.target