[Unit]
Description=Starts a server to remote control the PiBot.
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=(cd /home/pi/develop/PiBot_v3/bot/remote/python server/ ; /usr/bin/python3 server.py)
Restart=on-abort

[Install]
WantedBy=multi-user.target